body {
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/ca/4e/ea/ca4eea23c776bf348225832d858e0cd0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: cursive;
    position: relative;
    top: 0px;
    color: rgb(2, 2, 1);
    display: flexbox;
    border-color: rgb(250, 186, 10);
    border-width: 15px;
    border-style: double;
    border-radius: 25px;
}
.text-align {
    text-align: center;
}
p {
   position: relative;
   top: 450px;
    font-family:'Roboto Mono', monospace;
    font-weight: 800;
    color: white;
}

button {
    display: flexbox;
    justify-content: flex-end;
}

/* border */
